body {
    overflow-x: hidden;
	background-color: #fff;
}

a:hover {
	text-decoration: none;
}

.top-nav { 
	background-color: #0275D8;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0; 
	width: 100%;
}

/*customize the scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* the track (progress bar) of the scrollbar */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
    width: 10px;
    border: 1px solid white;
}

/* the draggable scrolling handle */
::-webkit-scrollbar-thumb {
    background: #0275D8;
    border-radius: 20px;
    border: 1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
    border: 1px solid #0275D8;
}

/*the track (progress bar) NOT covered by the handle*/
::-webkit-scrollbar-track-piece {
    border: 1px solid white;
}

.mainMenu {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: -500px;
    /* right: 0; */
    background-color: #0275D8;
    z-index: 9;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 15px;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.mainMenu li {
	list-style-type: none;
}

/* :: Menu Open CSS */
.menu-open {
    right: 0;
}

/*Hide elements on small screens*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .hidden {
        display: none;
    }
}

/*Hides elements on large screens*/
.anti-hidden {
    display: none;
}

/*Shows elements on small screens*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .anti-hidden {
        display: inline;
    }
}

@media only screen and (max-width: 767px) {
    .anti-hidden {
        display: inline;
    }
}

.onesoko-btn {
    /* position: relative; */
    /* z-index: 1; */
    min-width: 90px;
    height: 33px;
    /* border: 1px solid; */
    /* border-color: #2f2f2f; */
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 20px;
    line-height: 32px;
    padding: 0 10px;
}